@use "primeicons/primeicons.css";


:root {
    --background-color1: #F0F8FF; // aliceblue
    --background-color2: #282c34; // dunkelgrau
    --background-color3: #c0c0c0;

    --border-radius1: 8px;

    --box-shadow1: 0 4px 10px rgba(0, 0, 0, 0.2);
}

@mixin standard-box-size {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 160px;
}