@import "primeicons/primeicons.css";

:root {
    --background-color1: #F0F8FF; // aliceblue
    --background-color2: #282c34; // dunkelgrau
    --background-color3: #c0c0c0;

    --border-radius1: 8px;
}